In [1]:
#import packages
import os
import pandas as pd
import numpy as np

df = pd.read_csv("data/train_set_60k.csv")
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,policy_code,application_type,profit_rate
0,2300506,2733045,16000,16000,16000.0,36 months,16.29,564.81,C,C4,...,20332.98,16000.00,4332.98,0.0,0.0,0.0,564.62,1,INDIVIDUAL,0.270811
1,1279303,1522366,20000,20000,20000.0,36 months,7.62,623.23,A,A3,...,20925.49,20000.00,925.49,0.0,0.0,0.0,16574.27,1,INDIVIDUAL,0.046275
2,357885,363658,6000,6000,4525.0,36 months,9.07,191.00,A,A4,...,4967.91,6000.00,587.42,0.0,0.0,0.0,3677.07,1,INDIVIDUAL,0.097903
3,31216333,33789497,12950,12950,12950.0,36 months,16.99,461.64,D,D3,...,14865.27,12950.00,1915.27,0.0,0.0,0.0,9799.45,1,INDIVIDUAL,0.147897
4,3240670,3983561,9300,9300,9300.0,36 months,13.11,313.85,B,B4,...,10353.27,8297.67,2055.60,0.0,0.0,0.0,627.70,1,INDIVIDUAL,0.113255

In [2]:
df['binary'] = df['profit_rate'].apply(lambda x : 1 if x < 0 else 0)  # Convert to numeric
df = df.drop('profit_rate', axis=1)

In [3]:
# import packages
import pandas as pd
import numpy as np
import pandas.core.algorithms as algos
from pandas import Series
import scipy.stats.stats as stats
import re
import traceback
import string

max_bin = 20
force_bin = 3

# define a binning function
def mono_bin(Y, X, n = max_bin):
    
    df1 = pd.DataFrame({"X": X, "Y": Y})
    justmiss = df1[['X','Y']][df1.X.isnull()]
    notmiss = df1[['X','Y']][df1.X.notnull()]
    r = 0
    while np.abs(r) < 1:
        try:
            d1 = pd.DataFrame({"X": notmiss.X, "Y": notmiss.Y, "Bucket": pd.qcut(notmiss.X, n)})
            d2 = d1.groupby('Bucket', as_index=True)
            r, p = stats.spearmanr(d2.mean().X, d2.mean().Y)
            n = n - 1 
        except Exception as e:
            n = n - 1

    if len(d2) == 1:
        n = force_bin         
        bins = algos.quantile(notmiss.X, np.linspace(0, 1, n))
        if len(np.unique(bins)) == 2:
            bins = np.insert(bins, 0, 1)
            bins[1] = bins[1]-(bins[1]/2)
        d1 = pd.DataFrame({"X": notmiss.X, "Y": notmiss.Y, "Bucket": pd.cut(notmiss.X, np.unique(bins),include_lowest=True)}) 
        d2 = d1.groupby('Bucket', as_index=True)
    
    d3 = pd.DataFrame({},index=[])
    d3["MIN_VALUE"] = d2.min().X
    d3["MAX_VALUE"] = d2.max().X
    d3["COUNT"] = d2.count().Y
    d3["EVENT"] = d2.sum().Y
    d3["NONEVENT"] = d2.count().Y - d2.sum().Y
    d3=d3.reset_index(drop=True)
    
    if len(justmiss.index) > 0:
        d4 = pd.DataFrame({'MIN_VALUE':np.nan},index=[0])
        d4["MAX_VALUE"] = np.nan
        d4["COUNT"] = justmiss.count().Y
        d4["EVENT"] = justmiss.sum().Y
        d4["NONEVENT"] = justmiss.count().Y - justmiss.sum().Y
        d3 = d3.append(d4,ignore_index=True)
    
    d3["EVENT_RATE"] = d3.EVENT/d3.COUNT
    d3["NON_EVENT_RATE"] = d3.NONEVENT/d3.COUNT
    d3["DIST_EVENT"] = d3.EVENT/d3.sum().EVENT
    d3["DIST_NON_EVENT"] = d3.NONEVENT/d3.sum().NONEVENT
    d3["WOE"] = np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["IV"] = (d3.DIST_EVENT-d3.DIST_NON_EVENT)*np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["VAR_NAME"] = "VAR"
    d3 = d3[['VAR_NAME','MIN_VALUE', 'MAX_VALUE', 'COUNT', 'EVENT', 'EVENT_RATE', 'NONEVENT', 'NON_EVENT_RATE', 'DIST_EVENT','DIST_NON_EVENT','WOE', 'IV']]       
    d3 = d3.replace([np.inf, -np.inf], 0)
    d3.IV = d3.IV.sum()
    
    return(d3)

def char_bin(Y, X):
        
    df1 = pd.DataFrame({"X": X, "Y": Y})
    justmiss = df1[['X','Y']][df1.X.isnull()]
    notmiss = df1[['X','Y']][df1.X.notnull()]    
    df2 = notmiss.groupby('X',as_index=True)
    
    d3 = pd.DataFrame({},index=[])
    d3["COUNT"] = df2.count().Y
    d3["MIN_VALUE"] = df2.sum().Y.index
    d3["MAX_VALUE"] = d3["MIN_VALUE"]
    d3["EVENT"] = df2.sum().Y
    d3["NONEVENT"] = df2.count().Y - df2.sum().Y
    
    if len(justmiss.index) > 0:
        d4 = pd.DataFrame({'MIN_VALUE':np.nan},index=[0])
        d4["MAX_VALUE"] = np.nan
        d4["COUNT"] = justmiss.count().Y
        d4["EVENT"] = justmiss.sum().Y
        d4["NONEVENT"] = justmiss.count().Y - justmiss.sum().Y
        d3 = d3.append(d4,ignore_index=True)
    
    d3["EVENT_RATE"] = d3.EVENT/d3.COUNT
    d3["NON_EVENT_RATE"] = d3.NONEVENT/d3.COUNT
    d3["DIST_EVENT"] = d3.EVENT/d3.sum().EVENT
    d3["DIST_NON_EVENT"] = d3.NONEVENT/d3.sum().NONEVENT
    d3["WOE"] = np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["IV"] = (d3.DIST_EVENT-d3.DIST_NON_EVENT)*np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["VAR_NAME"] = "VAR"
    d3 = d3[['VAR_NAME','MIN_VALUE', 'MAX_VALUE', 'COUNT', 'EVENT', 'EVENT_RATE', 'NONEVENT', 'NON_EVENT_RATE', 'DIST_EVENT','DIST_NON_EVENT','WOE', 'IV']]      
    d3 = d3.replace([np.inf, -np.inf], 0)
    d3.IV = d3.IV.sum()
    d3 = d3.reset_index(drop=True)
    
    return(d3)

def data_vars(df1, target):
    
    stack = traceback.extract_stack()
    filename, lineno, function_name, code = stack[-2]
    vars_name = re.compile(r'\((.*?)\).*$').search(code).groups()[0]
    final = (re.findall(r"[\w']+", vars_name))[-1]
    
    x = df1.dtypes.index
    count = -1
    
    for i in x:
        if i.upper() not in (final.upper()):
            if np.issubdtype(df1[i], np.number) and len(Series.unique(df1[i])) > 2:
                conv = mono_bin(target, df1[i])
                conv["VAR_NAME"] = i
                count = count + 1
            else:
                conv = char_bin(target, df1[i])
                conv["VAR_NAME"] = i            
                count = count + 1
                
            if count == 0:
                iv_df = conv
            else:
                iv_df = iv_df.append(conv,ignore_index=True)
    
    iv = pd.DataFrame({'IV':iv_df.groupby('VAR_NAME').IV.max()})
    iv = iv.reset_index()
    return(iv_df,iv)

In [4]:
final_iv, IV = data_vars(df,df["binary"])

C:\Users\Djordje\Anaconda3\envs\bayesian\lib\site-packages\ipykernel_launcher.py:94: RuntimeWarning: divide by zero encountered in log
C:\Users\Djordje\Anaconda3\envs\bayesian\lib\site-packages\ipykernel_launcher.py:95: RuntimeWarning: divide by zero encountered in log

In [5]:
IV.sort_values('IV')

                   VAR_NAME            IV
31                      url  0.000000e+00
19              policy_code  0.000000e+00
21               pymnt_plan  3.357621e-09
1          application_type  4.063899e-07
28            total_rec_int  1.111672e-03
23                revol_bal  4.846659e-03
7            home_ownership  8.431291e-03
20                  purpose  1.728160e-02
0                addr_state  2.203117e-02
10              installment  2.878666e-02
32      verification_status  4.408109e-02
5           funded_amnt_inv  4.428638e-02
4               funded_amnt  4.565622e-02
14                loan_amnt  4.912984e-02
9       initial_list_status  6.335109e-02
33                 zip_code  9.229580e-02
29       total_rec_late_fee  9.258334e-02
3                       dti  1.087471e-01
25                     term  1.589677e-01
11                 int_rate  2.293975e-01
16                member_id  2.310400e-01
8                        id  2.329829e-01
6                     grade  2.815240e-01
24                sub_grade  3.006122e-01
12                  issue_d  6.622004e-01
2   collection_recovery_fee  1.308493e+00
22               recoveries  1.354035e+00
18            out_prncp_inv  1.787058e+00
17                out_prncp  1.787058e+00
27          total_pymnt_inv  2.001523e+00
26              total_pymnt  2.098308e+00
13          last_pymnt_amnt  3.166761e+00
30          total_rec_prncp  3.619353e+00
15              loan_status  7.114785e+00